<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Edit User</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
      <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">

   </head>
   <body>
     <%- include('partials/header') %>


      <h1>Add Family Member</h1>
      <!-- Modal for success message -->
        <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= success_msg %> <!-- This is where the success message will be displayed -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="errorMessageModal" tabindex="-1" aria-labelledby="errorMessageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="errorMessageModalLabel">Error</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= error_msg %> <!-- This is where the error message will be displayed -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <form id="addMemberForm" action="/addMember/<%= users._id %>" method="POST">
        <div class="form-group">
           <label>Village:</label>
           <select type="text" id="village" name="village" class="form-control" required disabled>
              <option value="">Select</option>
              <option value="1">Inam Dengapadar</option>
              <option value="2">Hindal</option>
              <option value="3">Nandiagada</option>
              <option value="4">Pathara</option>
           </select>
           <br>
        </div>
        <div class="form-group">
           <label>Ward:</label>
           <select id="ward" name="ward" class="form-control" required disabled>
              <option value="">Select</option>
           </select>
           <br>
        </div>
        <div class="form-group">
           <label>House:</label>
           <input type="number" min="1" class="form-control" id="houseNo" name="houseNo" required readonly>
           <br>
        </div>
        <div class="form-group">
           <label>Family:</label>
           <input type="number" min="1" class="form-control" id="familyNo" name="familyNo" required readonly>
           <br>
        </div>
         <div class="form-group">    <label>Beneficiery :</label><input type="text" class="form-control" id="userName" name="userName" ><br></div>
         <div class="form-group">      <label>Father/Husband Name:</label><input type="text" class="form-control" id="fatherHusband" name="fatherHusbandName" ><br></div>
         <div class="form-group">
            <label>Gender:</label>
            <select id="gender" name="gender" class="form-control">
               <option value="0">Select</option>
               <option value="1">Male</option>
               <option value="2">Female</option>
            </select>
            <br>
         </div>
         <!-- <div class="form-group">    <label>Village:</label><input type="text" class="form-control" name="village" value="<%= user.village %>" readonly><br></div> -->

         <div class="form-group">  <label>Aadhaar Card No:</label>
           <input type="text" class="form-control" id="aadhar" onchange="checkAadhar(this.value)" name="aadhaarCardNo"><br>
           <small id="aadharError" class="form-text text-danger" style="display: none;">Invalid Aadhar Number</small>
         </div>
         <div class="form-group">    <label>EPIC Number:</label>
           <input type="text" class="form-control" onchange="checkEpic(this.value)" name="epicNumber" ><br>
           <small id="epicError" class="form-text text-danger" style="display: none;">Invalid EPIC Number</small>
         </div>
         <div class="form-group">  <label>Mobile No:</label>
           <input type="text" class="form-control" id="mobile" onchange="checkMobile(this.value)" name="mobileNo" ><br>
           <small id="mobileError" class="form-text text-danger" style="display: none;">Invalid Mobile Number</small>
         </div>
         <!-- Add more fields as needed -->
         <div class="form-group">
            <label>Ration (Yes/No):</label>
            <select id="hasRation" name="ration" class="form-control">
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div id="rationDetails" style="display: none;">
            <div class="form-group">    <label>Ration No:</label><input type="text" class="form-control" name="rationNo"><br></div>
            <div class="form-group">
               <label>Scheme:</label>
               <select type="text" class="form-control" id="rationType" name="rationType" ">
                  <option value="0">Select</option>
                  <option value="1">State</option>
                  <option value="2">Central</option>
               </select>
               <br>
            </div>
            <div class="form-group">  <label>When Activated:</label><input type="date" class="form-control" id="activatedOn" data-date-format="DD-MM-YYYY" name="activatedOn"  ><br></div>
         </div>
         <div class="form-group">
            <label>Has Disease:</label>
            <select type="text" class="form-control" id="hasDisease" name="hasDisease" >
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div id="healthFields" style="display: none;">
           <div class="form-group">    <label>Disease Name:</label><input type="text" class="form-control" name="diseaseName"><br></div>
           <div class="form-group">  <label>Disease When:</label><input type="date" class="form-control" id="diseaseDate" name="diseaseDate" ><br></div>
         </div>
         <div class="form-group">
            <label>Handicapped (Yes/No):</label>
            <select type="text" class="form-control" id="isHandicapped" name="isHandicapped" >
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div class="form-group">
            <label>Health Card (Yes/No):</label>
            <select id="hasHealthCard" name="hasHealthCard" class="form-control">
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div id="healthCardFields" style="display: none;">
            <div class="form-group"><label>Health Card No:</label><input type="text" class="form-control" name="healthCardNo"><br></div>
         </div>
         <div class="form-group">
            <label>Has House (Yes/No):</label>
            <select type="text" class="form-control" id="hasHouse" onchange="checkHouse(this.value)" name="hasHouse" >
               <option value="0">Select</option>
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div id="hd" style="display: none;">
           <div class="form-group">
              <label>House Type:</label>
              <select type="text" class="form-control" id="houseType" name="houseType" >
                <option value="0">Select</option>
                <option value="1">Rented</option>
                <option value="2">Shared</option>
              </select>
              <br>
           </div>
           <div class="form-group">
              <label>Landless (Yes/No):</label>
              <select type="text" class="form-control" id="landless" name="landless" >
                 <option value="no">No</option>
                 <option value="yes">Yes</option>
              </select>
              <br>
           </div>
         </div>
         <div>
           <div id="kpd" class="form-group">
             <label>House Type:</label>
             <select name="katchaPakkaGhar" id="katchaPakkaGhar" class="form-control" >
                <option value="0">Select</option>
                <option value="3">Katcha</option>
                <option value="4">Pakka</option>
             </select>
             <br>
          </div>
         </div>
         <div class="form-group">
            <label>BPL (Yes/No):</label>
            <select type="text" class="form-control" id="bplStatus" name="bplStatus" >
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div class="form-group">
            <label>Insurance (Yes/No):</label>
            <select type="text" class="form-control" id="insuranceStatus" name="insuranceStatus" >
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div class="form-group">  <label>Qualification:</label>
           <select type="text" class="form-control" id="qualification" onchange="getCourse(this.value)" name="qualification" >
             <option value="">Select Qualification</option>
             <option value="highschool">High School (10th)</option>
             <option value="intermediate">Intermediate (12th)</option>
             <option value="graduation">Graduation</option>
             <option value="postgraduation">Post-Graduation</option>
             <option value="diploma">Diploma</option>
             <option value="other">Other</option>
           </select>
         </div>
         <div class="form-group" id="courseFields" style="display: none">
           <div class="form-group">
            <label for="courses">Courses</label>
            <select class="form-control" id="courses" name="course" >
              <option value="">Select Course</option>
            </select>
          </div>
         </div>
         <div class="form-group" id="otherCourseFields" style="display: none">
           <div class="form-group">
            <label for="courses">Courses:</label>
            <input type="text" class="form-control" id="other" name="other" >
          </div>
         </div>
         <div class="form-group"><label>Occupation:</label><input type="text" class="form-control"  name="occupation" ><br></div>
         <div class="form-group"><label>Street:</label><input type="text" class="form-control" name="street" ><br></div>
         <div class="form-group">  <label>Date of Birth:</label><input type="date" class="form-control" id="dob" name="dob"><br></div>
         <div class="form-group">
            <label>Blood Group:</label>
            <select name="bg" id="bg" class="form-control">
              <option value="">Select</option>
               <option value="A+">A+</option>
               <option value="A-">A-</option>
               <option value="B+">B+</option>
               <option value="B-">B-</option>
               <option value="AB+">AB+</option>
               <option value="AB-">AB-</option>
               <option value="O+">O+</option>
               <option value="O-">O-</option>
            </select>
            <br>
         </div>
         <div class="form-group">
            <label>Bank Account (Yes/No):</label>
            <select type="text" class="form-control" id="bankAccount" name="bankAccount" >
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div class="form-group">
            <label>Drinking Water (Yes/No):</label>
            <select type="text" class="form-control" id="drinkingWater" name="drinkingWater" >
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div class="form-group">
            <label>Cow Shed (Yes/No):</label>
            <select type="text" class="form-control" id="cowShed" name="cowShed">
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <div class="form-group">
            <label>Has Cow (Yes/No):</label>
            <select type="text" class="form-control" id="hasCow" name="hasCow">
               <option value="no">No</option>
               <option value="yes">Yes</option>
            </select>
            <br>
         </div>
         <button id="submit" type="submit">Submit</button>
         <small id="submitError" class="form-text text-danger" style="display: none;">kindly complete name, father/husband name, village and ward</small>
      </form>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/scripts.js" type="text/javascript" ></script>
      <script>
      // Automatically show modal if there is a success message
        <% if (success_msg) { %>
          var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
          messageModal.show();
        <% } %>
      </script>
      <script>
      <% if (error_msg) { %>
        var errorMessageModal = new bootstrap.Modal(document.getElementById('errorMessageModal'));
        errorMessageModal.show();
      <% } %>
      </script>
      <script type="text/javascript">
         function convert(str) {
           var date = new Date(str),
           mnth = ("0" + (date.getMonth() + 1)).slice(-2),
           day = ("0" + date.getDate()).slice(-2);
           return [date.getFullYear(), mnth, day].join("-");
         }
         window.onload = function() {
           $("#houseNo").val(<%= users.house %>);
           $("#familyNo").val(<%= users.family %>);
           var bg = convert("<%= users.bg %>");
           $('#bg').val(bg);
         }
         $(document).ready(function () {

               $("#hasHouse").val(<%= users.ruralHouse.hasHouse%> === true ? 'yes' : 'no');

               checkHouse(<%= users.ruralHouse.hasHouse%> === true ? 'yes' : 'no');
               $("#village").val(<%= users.village %>);
               if($('#village').val() != ''){
                 const wardSelect = document.getElementById('ward');
                 const vil = $('#village').val();
                 const villageWardMapping = {
                   1: [1, 2, 3],
                   2: [4, 5, 6, 7],
                   3: [8, 9, 10],
                   4: [11, 12, 13, 14]
                 };
                   const wards = villageWardMapping[vil];

                   // Populate the ward dropdown
                   wards.forEach(ward => {
                     const option = document.createElement('option');
                     option.value = ward;
                     option.textContent = 'Ward ' + ward;
                     wardSelect.appendChild(option);
                   });
                   $("#ward").val(<%= users.ward %>);
               }

               $("#bplStatus").val(<%= users.bplStatus %> === true ? "yes" : "no");

               $("#landless").val(<%= users.ruralHouse.landless %> === true ? "yes" : "no");
               $("#drinkingWater").val(<%= users.drinkingWater %> === true ? "yes" : "no");
           });
      </script>
      <script>
          $(document).onload(function(){
              if($('#hasHouse').val() === 'yes'){
                   console.log("katchaPakkaGhar : "+ <%= users.ruralHouse.katchaPakkaGhar %>)
                   document.getElementById('hd').style.display = 'none';
                   document.getElementById('kpd').style.display = 'block';
                   $("#katchaPakkaGhar").val(<%= users.ruralHouse.katchaPakkaGhar %>);
               }else if ($('#hasHouse').val() === 'no') {
                 console.log("houseType : "+ <%= users.ruralHouse.houseType %>)
                  document.getElementById('hd').style.display = 'block';
                  document.getElementById('kpd').style.display = 'none';
                  $("#houseType").val(<%= users.ruralHouse.houseType %>);
               }
               else {
                 document.getElementById('kpd').style.display = 'none';
                 document.getElementById('hd').style.display = 'none';
               }
          });
      </script>
      <%- include('partials/footer') %>
   </body>

</html>
